
laraVue/node_modules
laraVue/public/build
laraVue/public/hot
laraVue/public/storage
laraVue/storage/*.key
laraVue/vendor
laraVue/.env.backup
laraVue/.env.production
laraVue/.phpunit.result.cache
laraVue/Homestead.json
laraVue/Homestead.yaml
laraVue/auth.json
laraVue/npm-debug.log
laraVue/yarn-error.log
laraVue/.fleet
laraVue/.idea
laraVue/.vscode
laraVue/.npm
laraVue/composer.lock
laraVue/package-lock.json

phpVue/frontend/.DS_Store
phpVue/frontend/node_modules
phpVue/frontend/dist


# local env files
phpVue/frontend/.env.local
phpVue/frontend/.env.*.local

# Log files
phpVue/frontend/npm-debug.log*
phpVue/frontend/yarn-debug.log*
phpVue/frontend/yarn-error.log*
phpVue/frontend/pnpm-debug.log*



# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous

# System files
.DS_Store
Thumbs.db


phpVue/backend/vendor
phpVue/backend/composer.lock
phpVue/backend/config/database.php
phpVue/backend/src/config/database.php
phpVue/backend/logs.log
phpVue/backend/test/.phpunit.result.cache
phpVue/db
.vscode/settings.json
laraVue/.bash_history
